mixin custom-input(options = {})
  -
    const {
      inputLabel = false,
      inputPlaceholder = false,
      inputType = "text",
      inputId = false,
      inputName = false,
      inputValue = false,
      inputMinLength = false,
      inputMaxLength = false,
      inputAccept = false,
      inputClass = false,
      iconName = false,
      iconWidth = 16,
      iconHeight = 16
    } = options;

  .custom-input&attributes(attributes)
    label
      if inputType === "file" && iconName
        +icon(iconName, iconWidth, iconHeight).custom-input__icon
      if inputLabel
        span.custom-input__label!= inputLabel
      input(
        type=inputType,
        id=inputId,
        name=inputName,
        value=inputValue,
        minlength=inputMinLength,
        maxlength=inputMaxLength,
        placeholder=inputPlaceholder,
        accept=inputAccept,
        class=inputClass
      )
